<!-- navbar section start -->
<section class="hero">
  <nav class="navbar navbar-expand bg-body-tertiary rounded-4 poistion fixed-top">
    <div class="container">
      <a class="navbar-brand">
        <img src="https://techstalwarts.com/assets/images/general/logo.svg" alt="Bootstrap" width="186" height="31">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link mx-4" href="#">About us</a>
          <a class="nav-link" href="#">Service</a>
          <a class="nav-link mx-4" href="#">Product</a>
          <a class="nav-link" href="#">Case Studies</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="home-hero">
    <div class="container">
      <div class="text-center text-white hero-box">
        <h1>Empowering your <span style="color: brown;">Growth</span> <br> with custom software solutions.</h1>
        <p class="mt-2">Unlock the Power of Innovative Software Development </p>
      </div>
    </div>
  </div>
</section>
<!-- navbar section end -->
