<!-- statistics home static -->

<div class="statistic-data">
  <div class="row">
    <div class="col-12">
      <div class="row card">
        <div class="col-2">
          <div class="card-body">
            <div class="icon">
              <i class="fa-solid fa-user-plus m-3"></i>
            </div>
            <div class="sub-data">
              <h3>200+</h3>
              <p>Clients<br> Served</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card-body">
            <div class="icon">
              <i class="fa fa-people-group m-3"></i>
            </div>
            <div class="sub-data">
              <h3>200+</h3>
              <p>Talented<br>Team</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card-body">
            <div class="icon">
              <i class="fa-regular fa-building m-3"></i>
            </div>
            <div class="sub-data">
              <h3>25+</h3>
              <p>Start-ups<br>supported</p>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="card-body">
            <div class="icon">
              <i class="fa-regular fa-money-bill-1 m-3"></i>
            </div>
            <div class="sub-data">
              <h3>75mn+</h3>
              <p>Value creation established<br>with start-ups</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
