<!-- AI/ML Section -->
<section class="ai-ml">
  <div class="container">
    <div class="row">
      <!-- left side AI/ML Solution provider -->
      <div class="col-7">
        <div class="row">
          <div class="">
            <div class="ai-logo" style="display: flex;">
              <img src="https://techstalwarts.com/assets/images/home/Robot.svg" width="24" height="52" alt="logo">
            </div>
            <div class="logo">
              <p class="ai">AI/ML</p>
              <h3 class="my-4">A leading AI/ML Solution provider</h3>
              <h5 class="my-3">Crafting Cutting-Edge and Inspiring Solutions for the Dynamic Digital Landscape</h5>
              <p>Discover a world of possibilities with our innovative AI and ML solutions, designed to streamline your
                business operations and uncover valuable insights. Experience the power of automation and data-driven
                decision making, empowering your business to thrive in the digital age</p>
              <div class="">
                <a>Read more <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="ai-image">
            <img src="https://techstalwarts.com/assets/images/home/ai_image.png" alt="ai-image">
          </div>
        </div>
      </div>
      <!-- right side Generative AI for Innovation -->
      <div class="col-5">
        <div class="row">
          <div class="col">
            <div class="card side-card">
              <div class="card-body" style="display: flex;">
                <div class="icon">
                  <img src="https://techstalwarts.com/assets/images/home/eos-icons_ai.svg" width="24" height="24"
                    alt="icon">
                </div>
                <div class="text mx-3">
                  <h2 class="">Generative AI for Innovation</h2>
                  <p>Harness the power of generative AI to drive growth and foster creativity with our advanced systems
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col my-3">
          <div class="card">
            <div class="card-body" style="display: flex;">
              <div class="icon">
                <img src="https://techstalwarts.com/assets/images/home/eos-icons_ai.svg" width="24" height="24"
                  alt="icon">
              </div>
              <div class="text mx-3">
                <h2>Generative AI for Innovation</h2>
                <p>Harness the power of generative AI to drive growth and foster creativity with our advanced systems
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body" style="display: flex;">
              <div class="icon">
                <img src="https://techstalwarts.com/assets/images/home/eos-icons_ai.svg" width="24" height="24"
                  alt="icon">
              </div>
              <div class="text mx-3">
                <h2>Generative AI for Innovation</h2>
                <p>Harness the power of generative AI to drive growth and foster creativity with our advanced systems
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col my-3">
          <div class="card">
            <div class="card-body" style="display: flex;">
              <div class="icon">
                <img src="https://techstalwarts.com/assets/images/home/eos-icons_ai.svg" width="24" height="24"
                  alt="icon">
              </div>
              <div class="text mx-3">
                <h2>Generative AI for Innovation</h2>
                <p>Harness the power of generative AI to drive growth and foster creativity with our advanced systems
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body" style="display: flex;">
              <div class="icon">
                <img src="https://techstalwarts.com/assets/images/home/eos-icons_ai.svg" width="24" height="24"
                  alt="icon">
              </div>
              <div class="text mx-3">
                <h2>Generative AI for Innovation</h2>
                <p>Harness the power of generative AI to drive growth and foster creativity with our advanced systems
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
